body html{
  font-family: 'Abel', sans-serif;
  margin: 0;
  padding: 0;
   margin-bottom:100px;
}

.firstpage img{
  border-width:1px;
  border-style:solid;
  width:1460px;
  height:810px;
  margin-top:-47px;
  margin-left:-20px;
  cursor: url(1.cur), auto;

}

a{
   cursor: url(1.cur), auto;
}

.secondpage img{
  border-width:1px;
  border-style:solid;
  width:1460px;
  height:730px;
  margin-top:-10px;
  margin-left:-20px;
  cursor: url(1.cur), auto;
}

#projectname{
  font-family: 'Kanit', sans-serif;
  margin-left:400px;
  margin-top:80px;
  font-size:1.4rem;
}

#projectdes{
  font-family: 'Abel', sans-serif;
  margin-left:400px;
  margin-right:400px;
  margin-bottom:80px;
  font-size:1.1rem;
}





div.sticky {
  font-family: 'Kanit', sans-serif;
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  background-color: white;
  padding: 10px;
  left:43%;
  width:150px;
  font-size: 1rem;
  border-width:1px;
  border-style:solid;
  text-align:center;
  border-radius:20px;
}




* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

.slideshow-container {
  max-width: 1300px;
  position: relative;
  margin: auto;
  border-width:1px;
  border-style:solid;
  margin-bottom:10px;
  cursor: url(1.cur), auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  width: 100%;
  text-align: right;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  text-align:right;
}

.dot {
  border-width:1px;
  border-style:solid;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
  border-width:1px;
  border-style:solid;

}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}







.flex{
  border-width:1px;
  border-style:solid;
  margin-right:70px;
  margin-left:70px;
  display:flex;
  margin-top:80px;
  cursor: url(1.cur), auto;
}

.left img{
  width:850px;
  height:700px;
}

.right img{
  width:448px;
  height:700px;
}
